Alessandro Girardi <alessandro.girardi-2@studenti.unitn.it> Ale Rayz <rayz1065@gmail.com>
Simone Marrocco <simone.marrocco@studenti.unitn.it> Marrocco-Simone <marrocco.simone00@gmail.com>
Simone Marrocco <simone.marrocco@studenti.unitn.it> Marrocco-Simone <91872829+Marrocco-Simone@users.noreply.github.com>
Leonardo Porcelli <leonardo.porcelli@studenti.unitn.it> leonardoporcelli <104975119+leonardoporcelli@users.noreply.github.com>
Simone Vazzana <simone.vazzana@studenti.unitn.it> simonevazzanaunitn <simone.vazzana@studenti.unitn.it>